body {
    background-image: url(https://cinebuzz.uol.com.br/media/uploads/jigsaw_prepara_vinganca_pessoal_no_trailer_de_jogos_mortais_10.jpg);
    align-items: center;
    text-align: center;
    color: aliceblue;
}

.pergunta {
    color: rgb(255, 245, 240);
    font-size: 18px;
    margin-bottom: 10px;
}

.quiz-container {
    display: block;
}

.resultado-container {
    display: none;
}

p {
    color: rgb(255, 255, 255);
    font-size: 30px;
}

button {
    background-color: black;
    color: rgb(161, 8, 8);
    font-size: 18px;
    border-radius: 10rem;
    width: 150px;
    height: 50px;
}